<div class="course">
  <div class="course-back">
    <i class="fa fa-chevron-circle-left"></i>
  </div>
  <form action="" class="course-form">
    <div class="course-logo">
      <i class="fa fa-graduation-cap"></i>
      <h1>课表查询</h1>
    </div>
    <div class="course-input">
      <input type="text" placeholder="姓名">
    </div>
    <div class="course-input">
      <input type="tel" placeholder="学号">
    </div>
    <div class="course-btn">
      <button>查看</button>
    </div>
  </form>
  <div class="course-table">
    <div class="course-lesson">
      <div class="lesson-close">
        <i class="fa fa-times"></i>
      </div>
      <div class="lesson-item">1</div>
      <div class="lesson-item">2</div>
      <div class="lesson-item">3</div>
      <div class="lesson-item">4</div>
      <div class="lesson-item">5</div>
      <div class="lesson-item">6</div>
      <div class="lesson-item">7</div>
      <div class="lesson-item">8</div>
      <div class="lesson-item">9</div>
      <div class="lesson-item">10</div>
      <div class="lesson-item">11</div>
      <div class="lesson-item">12</div>
    </div>
    <div class="course-content">
      <div class="content-row">
        <div class="content-week">星期一</div>
        <div class="content-lesson color-1">
          广播电视节目策划(H1-305)
        </div>
      </div>
      <div class="content-row">
        <div class="content-week">星期二</div>
      </div>
      <div class="content-row">
        <div class="content-week">星期三</div>
      </div>
      <div class="content-row">
        <div class="content-week">星期四</div>
      </div>
      <div class="content-row">
        <div class="content-week">星期五</div>
      </div>
    </div>
  </div>
</div>