.categories {
  width: 100%;
  height: 100%;
  background-color: #f7f7f7;
}
.category {
  margin: 10px;
  border-radius: 3px;
  background-color: #fff;
  overflow: hidden;
}
.category .row {
  margin-bottom: -5px;
}
.category-img img {
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  width: 100%;
}
.category-desc {
  font-size: .8em;
  text-align: center;
  padding-top: 20px;
}
.category-desc span {
  border-bottom: 1px solid #F94545;
}